<template>

    <div class="-relative -row -content-center" style="padding-top:2em">
        <img src="assets/img/logos/brand.png" style="height:4em">
    </div>

    <nav id='menu' class="-relative -row -content-center" style="text-transform:uppercase;height:3em;">
        <div>
            <div>welcome</div> <i>·</i>
            <div>i. a.</div> <i>·</i>
            <div>bigdata</div> <i>·</i>
            <div>gpt</div> <i>·</i>
            <div>consultoria</div> <i>·</i>
            <div>desenvolvimento</div> <i>·</i>
            <div>contato</div>
            <span></span>
        </div>
    </nav>



    <style>
        /* #menu > div > div:last-child{
            background:{{light1}};
            border-radius:1em;
        } */
        #menu > div > div {
            height: 2em;
            padding:1em;
            float: left;
            bottom:0;
            cursor: pointer;
        }
        #menu > div > i {
            float: left;
            font-size:2em;
            padding:.25em;
            opacity: .32;
        }
        #menu > div > span {
            position: absolute;
            left: 0;
            bottom: 0;
            height: .125em;
            background-color: {{font}};
        }
    </style>

    <script>
        const shift_bar = $('#menu > div > span').at() ;;
        bootloader.onFinishLoading.add(_ => $('#menu>div>div').forEach((e, i) => e.on('click', _ => fw.pragma = i)));
        fw.onPragmaChange.add(pragma => {
            $('#menu > div > div').forEach((e, i) => {
                if(i == pragma) {
                    const { width, left } = e.getBoundingClientRect() ;;
                    shift_bar.stop().anime({ left: `calc(${left}px - 0em)`, width: width + 'px' })
                    e.stop().anime({ opacity: 1 })
                } else e.stop().anime({ opacity: .32 })
            })
        })
    </script>
</template>