<template>

    <div id='ai' class="-relative -wrapper">

        <div class="-absolute -zero -row -avoid-pointer --shadow" style="z-index:10;opacity:0;">
            <div class="-row -content-center" style="height:6em">
                <div class="-col-4" style="height:1em;transform: translateY(-1.125em); box-shadow: 0 0 4em black;"></div>
            </div>
        </div>

        <div class="-relative -row -scrolls -bar --text-stage">

            <div class="-col-8 -content-left" style="padding: 4em 2em;">

                <span class="-row -content-left" style="font-size: 2em;">Artificial Intelligence (AI)</span>
                <div class="-row"><div class="-col-1 -left" style="border-bottom: 1px solid {{dark3}};"></div></div>

                <p>A inteligência artificial é um campo fascinante que busca criar sistemas e algoritmos capazes de imitar a inteligência humana. Com experiência sólida nessa área, desenvolvo soluções inteligentes que podem automatizar processos, melhorar a tomada de decisões e impulsionar a inovação na sua empresa.</p>
                <p style="margin-top:0">Com o avanço das capacidades computacionais e o crescimento exponencial dos dados, a IA tem se tornado uma ferramenta poderosa para automatizar tarefas, prever resultados e melhorar a tomada de decisões. Neste artigo, vamos dar uma olhada nos principais conceitos da IA e apresentar alguns exemplos de frameworks e tecnologias populares que estão impulsionando seu desenvolvimento e que podemos fazer uso em projetos conjuntos.</p>

                <div class="-row -content-center" style="font-size: 2em;padding: .5em">···</div>

                <!-- <span class="-roboto-bold -left" style="padding-top:0em">Aprendizado de Máquina (Machine Learning)</span> -->
                <span class="-row -content-left" style="font-size: 1.5em;">Aprendizado de Máquina (Machine Learning)</span>
                <p>Machine Learning (ML) é uma subárea da IA que se concentra no desenvolvimento de algoritmos capazes de aprender a partir de dados. Esses algoritmos são projetados para identificar padrões e tomar decisões ou fazer previsões com base nesses padrões. Frameworks como TensorFlow, Keras e PyTorch têm sido amplamente utilizados para implementar modelos de aprendizado de máquina, eu pessoalmente tenho utilizado o primeiro em projetos recentes, que me possibilita treinar uma rede neural profunda utilizando o TensorFlow para classificar imagens, reconhecer fala ou até mesmo gerar texto.</p>

                <!-- <span class="-roboto-bold -left" style="padding-top:2em">Processamento de Linguagem Natural (Natural Language Processing - NLP)</span> -->
                <span class="-row -content-left" style="font-size: 1.5em;padding-top:1em">Processamento de Linguagem Natural (Natural Language Processing - NLP)</span>
                <p>NLP visa permitir que computadores entendam, interpretem e gerem linguagem humana, essa tecnologia ficou recentemente bem conhecida com a popularização do chatGPT (abordaremos esta ferramenta incrível em outra seção aqui do site). É uma área essencial para aplicações como chatbots, tradutores automáticos e assistentes virtuais. O NLTK (Natural Language Toolkit) é uma biblioteca popular em Python para processamento de texto e análise de linguagem natural, mas hoje em dia a API da OpenAI faz mais sentido em projetos rápidos, devido a sua flexibilidade e facilidade de conexão com os mais variados sistemas.</p>

                <!-- <span class="-roboto-bold -left" style="padding-top:2em">Visão Computacional (Computer Vision)</span> -->
                <span class="-row -content-left" style="font-size: 1.5em;padding-top:1em">Visão Computacional (Computer Vision)</span>
                <p>A Visão Computacional se concentra em capacitar as máquinas a entenderem e interpretarem o mundo visual, permitindo que reconheçam objetos, rostos e façam análise de imagem. O OpenCV (Open Source Computer Vision Library) é uma das bibliotecas mais utilizadas para realizar tarefas de visão computacional. Com o OpenCV, é possível realizar detecção de objetos, rastreamento de movimento e até mesmo análise de expressões faciais. Pessoalmente não tive muito contato com esse framework, tendo feito mais uso acadêmico do que profissional, porém hoje em dia há ferramentas bastante promissoras que facilitam o uso de tecnologias de reconhecimento de imagens e que são de muito fácil uso. Seria gratificante se pudessemos desenar um projeto para utilizarmos tecnologias como essas!</p>

                <!-- <span class="-roboto-bold -left" style="padding-top:2em">Processamento de Áudio (Audio Processing)</span> -->
                <span class="-row -content-left" style="font-size: 1.5em;padding-top:1em">Processamento de Áudio (Audio Processing)</span>
                <p>O Processamento de Áudio envolve o uso de algoritmos para análise, transformação e síntese de dados de áudio. Nesse campo, o uso de redes neurais recorrentes, como as redes LSTM (Long Short-Term Memory), tem sido aplicado com sucesso em tarefas como reconhecimento de fala, transcrição automática e até mesmo na criação de música gerada por IA. Mas a tecnologia que tem sido um 'game changer' sobretudo nos setores de comunicação das empresas têm sido on inúmeros serviços de Text-To-Speech (TTS) que têm pipocado na internet, e que dão um braço virtual muito interessante para as empresas.</p>

                <!-- <span class="-roboto-bold -left" style="padding-top:2em">Reinforcement Learning (Aprendizado por Reforço)</span> -->
                <span class="-row -content-left" style="font-size: 1.5em;padding-top:1em">Reinforcement Learning (Aprendizado por Reforço)</span>
                <p>O Reinforcement Learning é uma abordagem na qual um agente aprende a tomar decisões através da interação com um ambiente. Esse método é amplamente utilizado em jogos, robótica e otimização de processos. Um exemplo notável nessa área é o framework OpenAI Gym, que fornece uma ampla variedade de ambientes de teste para o desenvolvimento de algoritmos de aprendizado por reforço. E aqui é onde minha experiência têm sido mais intensificada, não no framework da OpenAI propriamente, mas nas várias formas de aplicarmos conceitos por trás desta tecnologia nas empresas, os frutos desta técnica são quase sempre incríveis e surpreendentes mesmo para os mais céticos administradores.</p>

                <div class="-row -content-center" style="font-size: 2em;padding: .5em">···</div>

                <p>A Inteligência Artificial oferece um vasto conjunto de ferramentas e técnicas que permitem às máquinas aprender, interpretar e tomar decisões de maneira inteligente. Os frameworks e tecnologias mencionados são apenas alguns exemplos do que está disponível para explorarmos nesse campo em constante evolução. À medida que a IA continua a avançar, novas oportunidades surgem para melhorar a eficiência e a inovação em diversos setores. Portanto, se você está interessado em desenvolver soluções inteligentes, não exite em entrar em contato!</p>

                <div class="-row -content-center" style="padding:4em 0;opacity:.32">
                    <img class="-col-10 -pointer" src="logos/arrow.svg" onclick="{ fw.pragma = fw.current_pragma + 1 }">
                </div>

            </div>

        </div>

        <div class="-fixed -zero-bottom -row -content-center -avoid-pointer --shadow" style="height:6em;">
            <div class="-col-8" style="height:1em;transform: translateY(6em); box-shadow: 0 0 4em black;bottom:0"></div>
        </div>

    </div>

    <script>
        (function(){

            const
            shadow = $('#ai .--shadow')
            , scrollev = new throttle(e => {
                const { scrollTop, offsetHeight, scrollHeight } = e.target, padd = fw.em2px() * 4 ;;
                if(scrollTop > padd) {
                    shadow[0].stop().anime({ opacity: 1 })
                    if(offsetHeight+scrollTop > scrollHeight - padd) shadow[1].stop().anime({ opacity: 0 })
                    else shadow[1].stop().anime({ opacity: 1 })
                } else shadow[0].stop().anime({ opacity: 0 })
            }, 32)
            ;;

            $('.--text-stage')[0].on('scroll', e => scrollev.fire(e))

        })()
    </script>
</template>