<template>
    <div id='contact' class="-relative -wrapper">

        <div class="-absolute -zero -row -avoid-pointer --shadow" style="z-index:10;opacity:0;">
            <div class="-row -content-center" style="height:6em">
                <div class="-col-4" style="height:1em;transform: translateY(-1.125em); box-shadow: 0 0 4em black;"></div>
            </div>
        </div>

        <div class="-relative -row -scrolls -bar --text-stage">

            <div class="-col-8 -content-left" style="padding: 4em 2em;">

                <span class="-row -content-left" style="font-size: 2em;">Contato</span>
                <div class="-row"><div class="-col-1 -left" style="border-bottom: 1px solid {{dark3}};"></div></div>

                <div class="-col-6 -left" style="padding-right:.5em">
                    <p>Gostaria de saber mais sobre meu trabalho ou discutir uma possível colaboração? Fique à vontade para entrar em contato.<br>Estou ansioso para conhecer suas necessidades e como posso ajudar.</p>
                    <p>Preencha o formulário de contato abaixo ou envie um e-mail diretamente para mim. Responderei o mais breve possível!</p>
                    <p><b>Rafael Bertolini</b><br>---<br><a href="callto:+55 11 97632 4576">+55 11 97632 4576</a><br><a href="mailto:rafael@faau.me">rafael@faau.me</a></p>
                    <nav id="socials" class="-row -content-center">
                        <div>
                            <a class="-right -only-pointer -tooltip" data-tip="Github" href="https://github.com/rafsb" target="_blank">
                                <img class="-centered" src="logos/github.svg">
                            </a>
                            <a class="-right -only-pointer -tooltip" data-tip="Twitter" href="https://twitter.com/__rafsb" target="_blank">
                                <img class="-centered" src="logos/twitter.svg">
                            </a>
                            <a class="-right -only-pointer -tooltip" data-tip="LinkedIn" href="https://www.linkedin.com/in/rafaelsbertolini/" target="_blank">
                                <img class="-centered" src="logos/linkedin.svg">
                            </a>
                            <a class="-right -only-pointer -tooltip" data-tip="Instagram" href="https://www.instagram.com/__rafsb/" target="_blank">
                                <img class="-centered" src="logos/instagram.svg">
                            </a>
                            <a class="-right -only-pointer -tooltip" data-tip="Facebook" href="https://www.facebook.com/rafaelsbertolini" target="_blank">
                                <img class="-centered" src="logos/facebook.svg">
                            </a>
                            <a class="-right -only-pointer -tooltip" data-tip="Facebook" href="https://wa.me/5511976324576" target="_blank">
                                <img class="-centered" src="logos/whatsapp.svg">
                            </a>
                        </div>
                    </nav>
                </div>

                <div class="-col-6 -left" style="padding:1em">
                    <form id="sender" action="javascript:void(0)" class="-wrapper -blur">
                        <p>Deixe-me uma mensagem:</p>
                        <input name="mail" type="mail" class="-row" style="padding:.5em 1em;border:none;background:{{font}}22;margin:.5em 0" placeholder="CONTATO">
                        <textarea name="message" class="-row" style="height:12em;padding:.5em 1em;border:none;background:{{font}}22;margin:.5em 0" placeholder="MENSAGEM"></textarea>
                        <div class="-row -content-center" style="padding: 1em;">
                            <div class="-pointer --robot" style="padding:.5em 1em;border-radius:.25em;background:{{peter_river}};color:white;border:1px solid {{wet_asphalt}}">Não sou um robô...</div>
                        </div>
                    </form>
                </div>

                <div class="-row" style="background:{{font}}44;border-radius:.25em;color:white;margin:2em 0">
                    <a class="-row -content-left -pointer" style="padding:.5em 1em;border-radius:1em;" onclick="">Área restrita</a>
                    <input type="text" class="-row -content-center --restricted-area" style="padding:.5em 0;border-radius:.25em;;border:none;background:{{font}}44">
                </div>

            </div>

        </div>

        <div class="-fixed -zero-bottom -row -content-center -avoid-pointer" style="height:6em;">
            <div class="-col-8" style="height:1em;transform: translateY(6em); box-shadow: 0 0 4em black;bottom:0"></div>
        </div>

    </div>

    <style>
        #socials {
            padding:1em;
            z-index: 100;
        }
        #socials > div >a {
            position: relative;
            height: 2em;
            width: 2em;
            margin: .25em;
        }
        #socials > div > a:hover {
            background: {{foreground}};
            filter: invert(1)
        }
        #socials > div > a > img {
            height:2em;
            width:2em;
            padding:.25em
        }
    </style>

    <script>
        (function(){
            const
            shadow = $('#contact .--shadow')[0]
            , scrollev = new throttle(e => {
                const { scrollTop } = e.target ;;
                if(scrollTop > 10) shadow.stop().anime({ opacity: 1 })
                else shadow.stop().anime({ opacity: 0 })
            }, 32)
            ;;
            $('#contact .--text-stage')[0].on('scroll', e => scrollev.fire(e))
            let bot = 0, pass = false ;;
            $('.--robot').on('click', e => {
                const { clientX: x, clientY: y } = e ;;
                if(maxis.x > x-(12-bot) && maxis.x < x+(12-bot) && maxis.y > y-(12-bot) && maxis.y < y+(12-bot)) {
                    if(e.target.dataset.state*1) {
                        pass = true
                        const sender = e.target.upFind('form').json() ;;
                        if(!sender.mail) fw.error("Preencha seu email, por favor...") && (pass=false)
                        if(!sender.message) fw.error("Hey! Não esqueça de me deixar uma mensagem ali no campo '<i>MENSAGEM'</i>...") && (pass=false)
                        if(pass) sock('stats/messages', {
                            data: sender
                            , cb: res => {
                               if(res.status) {
                                    fw.success('Mensagem enviada com sucesso...')
                                    e.target.upFind('form').$('input, textarea').forEach(e => e.value = "")
                               } else fw.error('Sua mensagem não pôde ser enviada, tente novamente mais tarde...')
                            }
                        })
                    } else {
                        e.target.dataset.state = 1
                        e.target.text("Enviar").anime({ background: "{{nephritis}}" })
                    }
                } else fw.error("Ops! Parece que vc é um bot <i>safadin</i>! Tente de novo...") && bot++
            })
            $('.--restricted-area')[0].on(
                'keyup'
                , e => e.keyCode == 13 && sock(
                    'stream/messages/' + e.target.value
                    , res => res.status && ((e.target.value = '') || fw.download(res.data, 'messages-'+(fdate.as('Ymdhis'))+'.json'))
                )
            )
        })()
    </script>
</template>