<template>
    <div id='dev' class="-relative -wrapper">

        <div class="-absolute -zero -row -avoid-pointer --shadow" style="z-index:10;opacity:0;">
            <div class="-row -content-center" style="height:6em">
                <div class="-col-4" style="height:1em;transform: translateY(-1.125em); box-shadow: 0 0 4em black;"></div>
            </div>
        </div>

        <div class="-row -bar -scrolls --text-stage">
            <div class="-col-8 -content-left" style="padding: 4em 2em;">

                <span class="-row -content-left" style="font-size: 2em;">Desenvolvimento de soluções digitais</span>
                <div class="-row"><div class="-col-1 -left" style="border-bottom: 1px solid {{dark3}};"></div></div>

                <p>Potencialize seu Negócio com Expertise e Inovação.</p>
                <p style="margin-top:0">No mundo digital de hoje, ter uma presença online forte e soluções tecnológicas eficientes é fundamental para o sucesso dos negócios, isso é flagrante! Se você está em busca de um parceiro confiável para o desenvolvimento de software, websites e soluções digitais, "here I am"! Neste artigo, apresentarei como minhas soluções digitais podem impulsionar o seu negócio para o futuro, que é logo ali.</p>

                <div class="-row -content-center" style="font-size: 2em;padding: .5em">···</div>

                <!-- <span class="-roboto-bold -right" style="padding-top:0em">Web Development</span> -->
                <span class="-row -content-left" style="font-size: 1.5em;">Web Development</span>
                <p>Como desenvolvedor web, crio soluções online modernas e eficientes. Tenho experiência em diversas tecnologias e frameworks, e posso desenvolver sites e aplicações personalizadas de acordo com suas necessidades. Seja um site corporativo, um e-commerce ou uma plataforma interativa, estou aqui para transformar suas ideias em realidade!</p>
                <p style="margin-top:0">Um website bem projetado e funcional é a porta de entrada para a presença online de uma empresa. Como especialista em web e desenvolvimento, trabalho em estreita colaboração com você para criar um website atraente, responsivo e intuitivo. Com a abordagem centrada no usuário garantimos assim uma experiência de navegação excepcional para os visitantes, aumentando o engajamento e convertendo-os em clientes.</p>
                <p style="margin-top:0">Afim de agilizar a criação e facilitar a aplicação correta das regras de negócio da sua empresa, desenvolvi eu mesmo um framework bastante flexível e abrangente, em diferentes linguagens, vamos falr um pouco dele.</p>

                <!-- <span class="-roboto-bold -right" style="padding-top:4em">fw.js</span> -->
                <span class="-row -content-left" style="font-size: 1.5em;padding-top:1em">fw.js</span>
                <p>Desde 2014 tenho desenvolvido módulos e snippets que juntos trouxeram muitos frutos para meu trabalho ao longo destes anos que se passaram. Em certa altura, resolvi juntar tudo em um framework bastante robusto e moderno. No início se tratava de ferramentas e setups para construção de palicações web usando a stack: HTML5, CSS3, PHP7+, Nginx e a plataforma Linux. Hoje já incorporei linguagens como NodeJS e conexões e models de bancos como MongoDB, MySQL, SQLite, MS Azure CosmosDB, Apache Gremlin, Postgres e um IO store bastante performático.</p>
                <p style="margin-top:0">Meu framework pode ser facilmente encontrado no meu Github, mas indico que ainda carece de documentação... sim parece uma heresia não ter documentado tanto avança em quase uma década, mas os momentos agitados que vivemos me roubaram o tempo necessário para me dedicar a tornar minha ferramenta uma arma útil na mão de mais pessoas.</p>
                <p style="margin-top:0">Assim afirmo que forjei o fw.js no calor das "produções" espalhadas por desenas de servidores pelo mundo. Aliás o nome fw.js é um acrônomo para FrameWork JavaScript. Também me envergonho de não ter pensado em um nome mais pujante, mas me orgulho dos resultados que ele apresenta!</p>

                <!-- <span class="-roboto-bold -right" style="padding-top:4em">Desenvolvimento de Software</span> -->
                <span class="-row -content-left" style="font-size: 1.5em;padding-top:1em">Desenvolvimento de Software</span>
                <p>A essa altura, me tornei um desenvolvedor altamente qualificado e possuo a experiência necessária para criar soluções de software personalizadas e de alto desempenho, adaptadas às necessidades exclusivas do seu negócio. Utilizo as mais recentes tecnologias e metodologias de desenvolvimento para entregar aplicativos robustos, escaláveis e seguros.</p>
                <p style="margin-top:0">Ah! E como é de se esperar, estou bastante acostumado as mais variadas metodologias no processo de desenvolvimento de software, mas sempre "Agile"!</p>

                <!-- <span class="-roboto-bold -right" style="padding-top:4em">Soluções Digitais Personalizadas</span> -->
                <span class="-row -content-left" style="font-size: 1.5em;padding-top:1em">Soluções Digitais Personalizadas</span>
                <p>Além do desenvolvimento de software e websites, ofereço soluções digitais personalizadas para atender às necessidades específicas do seu negócio. Isso inclui o desenvolvimento de aplicativos móveis, integrações de sistemas, automação de processos, análise de dados e muito mais. Trabalho em estreita colaboração com você para entender suas metas e desafios, fornecendo soluções digitais que impulsionam a eficiência operacional, a inovação e o crescimento.</p>
                <p style="margin-top:0">Muitas vezes uma pequena solução digital, como uma interface de contato entre departamentos de uma empresa ou uma janela de interação com o mundo pode fazer toda a diferença na realidade de uma empresa. Conte comigo para fazer detectar e criar estas pequenas interfacei de grande impacto para seu negócio.</p>

                <div class="-row -content-center" style="font-size: 2em;padding: .5em">···</div>

                <p>Se você está buscando um parceiro confiável para desenvolver softwares, websites e soluções digitais sob medida, estou pronto para ajudar. Com expertise, inovação e compromisso com a qualidade, podemos impulsionar o seu negócio para o sucesso no mundo digital em constante evolução. Entre em contato para transformarmos suas ideias em realidade! ou simplesmente para tomarmos um café mesmo, isso também faz a vida fluir bem!</p>

                <div class="-row -content-center" style="padding:4em 0;opacity:.32">
                    <img class="-col-10 -pointer" src="logos/arrow.svg" onclick="{ fw.pragma = fw.current_pragma + 1 }">
                </div>

            </div>

        </div>

        <div class="-fixed -zero-bottom -row -content-center -avoid-pointer" style="height:6em;">
            <div class="-col-8" style="height:1em;transform: translateY(6em); box-shadow: 0 0 4em black;bottom:0"></div>
        </div>

    </div>

    <script>
        (function(){
            const
            shadow = $('#gpt .--shadow')
            , scrollev = new throttle(e => {
                const { scrollTop, offsetHeight, scrollHeight } = e.target, padd = fw.em2px() * 4 ;;
                if(scrollTop > padd) {
                    shadow[0].stop().anime({ opacity: 1 })
                    if(offsetHeight+scrollTop > scrollHeight - padd) shadow[1].stop().anime({ opacity: 0 })
                    else shadow[1].stop().anime({ opacity: 1 })
                } else shadow[0].stop().anime({ opacity: 0 })
            }, 32)
            ;;
            $('.--text-stage')[0].on('scroll', e => scrollev.fire(e))
        })()

    </script>

</template>