<template>
    <div class="-col-2"></div>
    <div id="welcome" class="-relative -left -col-6 -content-left" style="padding-top:4em;">
        <span style="font-size: 2em;">Olá! Bem-vindos ao meu espaço digital!</span>
        <div class="-row"><div class="-col-1 -left" style="border-bottom: 1px solid {{dark3}};"></div></div>
        <p>Eu sou <b>Rafael Bertolini</b>, um desenvolvedor apaixonado por criar soluções incríveis!</p>
        <p>Aqui é o lugar onde conto como faço a magia da programação ganhar vida, já que ganho a vida fazendo a programação parecer magia.</p>
        <p>Explorem e divirtam-se enquanto navegam pelos meus conceitos, experiências e conhecimentos. Fiquem à vontade para explorar o código-fonte do meu trabalho e descobrir os segredos por trás das minhas criações.</p>
    </div>
    <div class="-col-4"></div>
</template>